@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.home__content {
  display: flex;
  flex-direction: column;
}

.venusimg {
  width: 100%;
  position: relative;

}

.header__codice {
    position: absolute;
    height: 236px;
left: 20.21%;
right: 21.46%;
top:65%;
color: #F7F6F3;
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.header__almanaque {
position: absolute;
color: #F7F6F3;
top: 95%;
left: 20.21%;
right: 21.46%;
bottom: 1%;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


.home__content_introtext{
background-color: #000000;
color: #ffffff;
font-family: Cinzel;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 64px;
text-align: center;
text-transform: uppercase;

}

.venusimg__second {
  display: flex;
  width: 100%;
  left: 0px;
  top: 1745px;
}


.home__content_codice {

  display: flex;
  background-color: #000000;
  color: #ffffff;
  align-content: center;
}

.codiceimg{
    width: 100%;
    height: 100%;


}



.home__content_codice_text{
 color: #F7F6F3;
 width: 50%;
 height: 50%;
 align-content:center;

}

.home__content_estudios{
  display:flex;
  align-items: center;
  background-color: #000000;
  color: #F7F6F3;
}

.home__content_estudios h1{
  font-family: cinzel;
 color:#F7F6F3;
 font-size: 65px;
}




.home__content_editorial{
  background-color: #000000;
}